{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<div class="cart_content">
    <div class="cart_index">
        <h1>Panier d'achat :</h1>

        {% if items | length > 0 %}
        <table class="cart_table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.article.title }}</td>
                        <td>{{ item.article.price }} €</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.article.price * item.quantity }} €</td>
                        <td><a @click="count--" href="{{ path('cart_remove', {'id': item.article.id})}}" class="remove"><i class="fas fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total :</td>
                    <td> {{ total }} €</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        {% else %}
            <p>Aucun article dans votre panier!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
