{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter un article{% endblock %}

{% block body %}
<div class="add_article">
    <h1>Ajouter un article </h1>

    {{ form_start(form) }}
        {{ form_row(form.title, {
            label: 'Titre'
        }) }}
        {{ form_row(form.description) }}
        {{ form_row(form.image) }}
        {{ form_row(form.price, {
            label: 'Prix'
        }) }}

        <button type="submit" class="btn">Ajouter</button>
    {{ form_end(form) }}
</div>
{% endblock %}
